<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.pig.lkong">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name=".application.LkongApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/lkong_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lkong"
        android:usesCleartextTraffic="true">
        <service
            android:name=".notice.NoticeService"
            android:enabled="true"
            android:exported="true"
            android:permission="@string/permission_notice_service">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/notice_sync_adapter" />
        </service>

        <receiver
            android:name=".broadcast.CheckNewBroadcastReceiver"
            android:exported="true"
            android:permission="@string/permission_notice_receiver">
            <intent-filter android:priority="1">
                <action android:name="io.pig.lkong.broadcast.SYNC_CHECK_NOTICE_COUNT_DONE" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".data.provider.LkongContentProvider"
            android:authorities="io.pig.lkong.data.provider"
            android:exported="false" />

        <provider
            android:name=".data.provider.NoticeContentProvider"
            android:authorities="io.pig.lkong.data.provider.NOTICE"
            android:exported="false"
            android:label="@string/provider_notice_label" />

        <activity
            android:name=".ui.forum.content.ForumThreadActivity"
            android:exported="true"
            android:theme="@style/Theme.Lkong.NoActionBar" />
        <activity
            android:name=".ui.profile.UserProfileActivity"
            android:theme="@style/Theme.Lkong.NoActionBar" />
        <activity
            android:name=".ui.notify.NotifyActivity"
            android:theme="@style/Theme.Lkong.NoActionBar" />
        <activity
            android:name=".ui.activity.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Lkong.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Lkong.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.post.list.PostListActivity"
            android:theme="@style/AppTheme.Translucent" />

        <activity
            android:name=".ui.edit.NewThreadActivity"
            android:theme="@style/AppTheme.Translucent" />

        <service
            android:name=".account.service.LkongAuthenticateService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account_authenticator" />
        </service>
    </application>

</manifest>